$headings-font-family: "Lato", serif;

$primary:       rgb(0,75,149);
$secondary:     rgb(117,162,191);
$info:          rgb(242,242,242);

$success:       #68D9A4;
$danger:        #ED6454;
$dark:          rgb(80,80,80);
$light:         rgb(103,103,103);

$h1-font-size: 3rem;
$h2-font-size: 2.5rem;